body {
  font-family: Georgia, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:  #192841;
  color: #FFCF40;
  margin: 0;
}

header {
  border: thin solid white;
  background-image:url("drexel.png");

  background-size: contain;
  height: 200px;                
  width: 100%;                   
  padding: 20px 0;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Centers navigation bar horizontally */
  align-items: center;   /* Push navigation bar near the bottom */
  padding-top: 100px;
  padding-bottom: 20px;
}
.head-above{
    display: center;
    text-align: center;
    margin-top: 20px;
}
header h2 {
    font-size: 30px;
    padding:20px;
    margin-bottom: 0;
    text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Makes navigation bar horizontal */
  justify-content: center; /* Centers the links */
  background-color:  bisque;
  border-radius: 10px;
  overflow: hidden;
}
nav li {
  border-right: 1px solid #555;
}

nav li:last-child {
  border-right: none;
}
nav li a:hover {
  background-color: #555;
  color: #FF9933;
}
.filter {
    width: 200px;
    text-align: right;
    border: 2px solid #000;
    border-radius: 0px;

    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #fff;
    gap: 12px;
}
.apply-btn {
    border: 1px solid #000;
    background: none;
    padding: 8px;
    margin-top: auto; /* Pushes it to the bottom */
    cursor: pointer;
}
#banner {
    /* Layout */
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 100px;
    /* The "Square" Border */
    border: 2px solid #333; 
    border-radius: 0;        
    
    background-color: white;
    padding: 40px;
    margin: 20px auto;
    
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1); 
}
.main-wrapper {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: stretch;
    gap: 10px; 
    padding: 10px;
          
}
.filter-sidebar {
    width: 250px;
    border: 2px solid #000;
    flex: 0 0 220px;
    border-radius: 0;        /* Keeps it square */
    padding: 15px;
    background-color: #fff;
    
    /* Ensures labels stack vertically like your sketch */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filter-sidebar hr {
    border-top: 1px solid #000;
    margin: 5px 0;
}
.content-area {
    flex: 1;                 
}

